:root {
  --success: #25d366;
  --cream: #ece5dd;
  --headersize: 58px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    scroll-padding-top: 80px; /* set to the height of your header 65px, also setting dynamically with js at index.js  */
}

@media (min-width: 576px) {
  html {
    font-size: 1.5rem;
  }
  .icons-dsize, .wchatlogo-img {
    height: 25px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 2rem;
  }
  .icons-dsize, .wchatlogo-img {
    height: 50px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 2.5rem;
  }
  .icons-dsize, .wchatlogo-img {
    height: 50px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 3rem;
  }
  .icons-dsize, .wchatlogo-img {
    height: 50px;
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 3.5rem;
  }
  .icons-dsize, .wchatlogo-img {
    height: 100px;
  }
}

::-webkit-scrollbar {
  display: none;
}
small {
  font-size: 0.875rem;
}
a {
  text-decoration: none;
  color: #34b7f1 !important;
}
header {
  padding: 1.2rem 0.5rem;
 /* text-align: center;*/
  color: var(--cream);
  background: #fff;
  box-shadow: 0 2px 10px 0 rgba(0,0,0, 0.1);
  margin-bottom: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 4;
}
header h1 {
  letter-spacing: 0.1rem;
  font-weight: 200;
}
footer {
  padding: 0.8rem;
  text-align: center;
  background: #333;
  color: var(--cream);
}
footer span.heart {
  color: red;
}
.wform form {
  padding: 1rem;
  border-radius: 0.5rem;
  background: var(--cream);
  box-shadow: 1px 1px 7px #444;
  max-width: 90%;
  margin: 0 auto;
}
.wform form h2 {
  text-align: center;
  font-weight: 200;
  margin-bottom: 1rem;
}
.wform form label {
  font-size: 0.76rem;
  font-weight: bold;
  text-transform: uppercase;
}
.wform form input {
  width: 90%;
  padding: 0.4rem;
  border-radius: 0.3rem;
  margin-top: 0.5rem;
}
.wform form small {
  font-size: 0.875rem;
}
.wform form input[type="file"] {
  border: 1px solid #444;
}
.wform form input[type="submit"] {
  border: 1px solid #444;
  background: linear-gradient(120deg, #3275e2 30%, #3336da 70%);
  color: white;
}

.chat-container {
 //margin-top: var(--headersize);
}

.chat-header {
 position: sticky;
 top:1px; 
 z-index: 3;
}
.chat-title {
  padding: 0.5rem;
  background: #075e54;
  color: var(--cream);
}
section {
 /* overflow: hidden; */
  border-radius: 0.5rem;
  background: var(--cream);
}
section .zm {
  color: #333;
}

.zmr {
  background-color: #dcf8c6 !important;
  clear: right;
}
.zml {
  background-color: whitesmoke !important;
}
.m-r-c {
  float: right !important;
  clear: right;
}
.m-l-c {
  float: left;
}
.zm .time {
  font-size: 0.75em;
  float: right;
}
.zm .sender {
  font-size: 0.75rem;
  display: none !important;
}
.zm .gs {
  font-size: 0.75rem;
}
.gc {
  display: inline-block;
  float: left;
  max-width: 25px;
  padding-left: 0 !important;
  height: 25px;
}
.zm .chat {
  
}
.walert {
  font-size: 0.8125rem;
  color: #000;
  background-color: #feeecb;
  margin-bottom: 0.5rem;
}
.hidden {
  display: none !important;
}
.zi-r img {
 /* width: 200px !important;
  height: 250px; */
  width: auto;
  height: auto;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  width: auto;
}

.video-container video {
  position: relative;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
}
.zvip {
  position: relative;
}
.videoposter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.wa-a {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  object-fit: contain;
}
/* download box styling */

.me-3 {
  margin-right: 1rem !important;
}

.font-size-24 {
  font-size: 24px !important;
}
.avatar-title {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #3b76e1;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.bg-soft-info {
  background-color: rgba(87, 201, 235, 0.25) !important;
}

.bg-p {
  background-color: rgba(59, 118, 225, 0.25) !important;
}
.bg-wa {
  background-color: inherit !important;
  /* #dcf8c6!important; */
}

.avatar-xs {
  height: 1rem;
  width: 1rem;
}

.avatar-sm {
  height: 2rem;
  width: 2rem;
}

.avatar {
  height: 3rem;
  width: 3rem;
}

.avatar-md {
  height: 4rem;
  width: 4rem;
}

.avatar-lg {
  height: 5rem;
  width: 5rem;
}

.avatar-xl {
  height: 6rem;
  width: 6rem;
}

.avatar-title {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #3b76e1;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.avatar-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 8px;
}

.avatar-group .avatar-group-item {
  margin-left: -8px;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.avatar-group .avatar-group-item:hover {
  position: relative;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.fw-medium {
  font-weight: 500;
}

a {
  text-decoration: none !important;
}
.zfis {
  height: 48px !important;
}

.zv {
  margin: 20px auto;
  max-width: 250px;
}
/* Individual video container */
.zvw {
  position: relative;
  max-width: 250px;
  width: 100%;
  margin-bottom: 10px;
}
.zvw .placeholder {
  max-width: 250px;
  width: 100%;
}
.zvw .play-btn {
  position: absolute;
  max-width: 250px;
  width: 100px;
  height: 100px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  line-height: 1; /* needed if using Bootstrap */
  text-align: center;
  color: #eaeaea;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50px;
  transition: color, background-color 0.2s ease;
}
.zvw .play-btn:hover,
.zvw .play-btn:focus {
  color: #000;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
.play-btn::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  /*
  Define the font family, weight, and icon
  */
  font-family: "Material Icons";
  font-weight: 900;
  font-size: 60px;
  content: "\e068";
  /* positioning tweaks */
  padding-top: 20px;
  padding-left: 10px;
}
.loader img {
  height: 20px !important;
  margin-bottom: 10px;
}
.chat-title-avartar i {
  display: inline-block;
  padding: 0 0 0 0 !important;
}

/**
 * Note: I have omitted any vendor-prefixes for clarity.
 * Adding them is left as an exercise for the reader.
 */
.headroom {
  will-change: transform;
  transition: transform 200ms linear;
  -webkit-transition: transform 200ms linear;
  -moz-transition: transform 200ms linear;
  -ms-transition: transform 200ms linear;
  -o-transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}
.Lines {
    overflow: hidden;
    z-index: 2;
}
.searchselect {
  color: #000!important;
}
.mEL {
  font-size: 1rem;
}
.header-toolbar {
  color: #000;
}
.fa-stack.small { font-size: 0.5em; }
.fa-stack i { vertical-align: middle; }
#statusconsole {
  font-size: 0.5rem;
  font-family: ;
}
.invisible {
  visibility: hidden!important;
}
.visible {
  visibility: visible!important;
}
.autohideicons { 
  visibility: hidden;
}
.searchchatsresults > div {
 color:#000!important; 
}
.searchchatsresults > div .active {
/* color:#fff!important; */
}
.searchchatsresults {
  max-height: 50vh;
  overflow-y: scroll;
}

/* clears the 'X' from Internet Explorer */
input.hide-clear[type=search]::-ms-clear,
input.hide-clear[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0; 
}

/* clears the 'X' from Chrome */
input.hide-clear[type="search"]::-webkit-search-decoration,
input.hide-clear[type="search"]::-webkit-search-cancel-button,
input.hide-clear[type="search"]::-webkit-search-results-button,
input.hide-clear[type="search"]::-webkit-search-results-decoration {
  display: none; 
}
.paginationavcontainer .active {
color:#fff!important;  
}

.form-signin {
  /* max-width: 330px;*/
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.annotation-content {
  white-space: pre-wrap;
}
#AnnotationsRight {
  height:50vh!important;
}
a.autolinked {
  word-break: break-all!important;
}

#annotation-update-input {
  max-height:80%;
}

.trumbowyg-box,
.trumbowyg-editor,
.trumbowyg-textarea {
  max-height: 80%!important;
  height: 80%;
}

.searchindex * {
  color:#000;
}

.logosearchindex {
  background-color: #fff;
  
}

.searchindexitems:hover {
  background-color: #e0e0e0;
}
.navicons > div { 
  margin-right: 5px;
  margin-left: 10px;
}
/* searchchatsresults - temporarily reusing response from search api, will return structured response for search asap */
.searchchatsresults .cID {
  position: relative;
}
div.searchchatsresults * {
  width:100%!important;
  margin-top:0!important;
  margin-bottom:0!important;
  background-color: #fff!important;
    transition: background-color 300ms linear;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
}
div.searchchatsresults .cID:hover *:not(.datetimeraw) {
  background-color: #e0e0e0!important;
}
div.searchchatsresults .datetimeraw {
  display:inline!important;
  position: absolute;
  top:0;
  left:0;
  text-align:right;
  background-color: transparent!important;
}
div.searchchatsresults .timeraw {
  display:none!important;
}
div.searchchatsresults .dategroups {
  display:none!important;
}
div.searchchatsresults .gs {
  font-size: 1.2rem;
}
div.searchchatsresults .gc {
  display:none!important;
}
/* end searchchatsresults */
div.searchchatsresults mark{
    background-color: yellow!important;
    color: black!important;
}
